@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --Purble-500: #D38CFF;
    --Cyan-500: #93FFF9;
    --Dark-cyan-600: #91D4FC;
    --White-500: #FFFFFF;
    --Light-grey-400: #CDCDCD;
    --Grey-500: #686868;
    --Button-fill: #8a8a8a2d;
    --Button-stroke: #767676;
    --Nav-Bold-10: 10px;
    --H1-Bold-64: 64px;
    --H2-Bold-24: 24px;
    --Cards-Headline-Medium-24: 24px;
    --Cards-Paragragh-Medium-10: 10px;
    --Cards-Price-SemiBold-48: 48px;
    --Buttons-Text-SemiBold-12: 12px;
    --Logo-Text-Bold-24: 24px;
    --Cards-Features-SemiBold-12: 12px;
}

body{
    background-image: url(./IMG/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header{
    background-color:rgba(0, 0, 0, 0.665);
    height: 90%;
    width: 90%;
    position: relative;
    left: 5%;
    top: 5%;
    border-radius: 20px;
}

.Nav-left{
    display: flex;
    position: relative;
    bottom: 10px;
    right: 20px;
}

.Nav-left h4{
    font-family: 'poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: var(--Logo-Text-Bold-24);
    color: var(--White-500);
    position: absolute;
    left: 100px;
    top: 30px;
}

.Nav-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
}

.Nav-middle ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 38px;
    position: absolute;
    bottom: 50px;
    list-style: none;

}

.Nav-middle li{
    font-family: 'Poppins', sans-serif;
    font-size: var(--Nav-Bold-10);
}

.Nav-middle li a{
    color: var(--White-500);
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Nav-right{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 70px;
    right: 50px;
}

.Nav-right button{
    width: 95px;
    height: 30px;
    flex-shrink: 0;
    background-color: var(--Button-fill);
    border: var(--Button-stroke) 1px solid;
    border-radius: 50px;
    color: var(--White-500);
}

.Hero{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.Headlines{
    text-align: center;
    font-family: 'mona sans', sans-serif;
    color: var(--White-500);
}

.Headlines .Y{
    background: linear-gradient(to bottom right, #FFF 0%, #FFFDFA 11%, #FFEDD8 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #FFF 0%, #FFFDFA 11%, #FFEDD8 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #FFF 0%, #FFFDFA 11%, #FFEDD8 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #FFF 0%, #FFFDFA 11%, #FFEDD8 50%) top right / 50% 50% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Headlines .OUR{
    background: linear-gradient(180deg, #FFEBB8 0%, #FED6FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Headlines .PLAN{
    background: radial-gradient(50% 50% at 50% 50%, #FFD2B9 0%, #F8CFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Headlines h1{
    font-size: var(--H1-Bold-64);
}

.Headlines h2{
    font-size: var(--H2-Bold-24);
}

.Cards{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 130px;
    gap: 10px;
}

.Basic{
    width: 228px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(56, 56, 56, 0.62);
    backdrop-filter: blur(45px);
    text-align: center;
    padding: 15px;
    position: relative;
}

.basic-headline{
    text-align: start;
    padding: 10px;
}

.Basic h4{
    color: var(--Cyan-500);
    font-family: 'Mona Sans', sans-serif;
    font-size: var(--Cards-Headline-Medium-24);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Basic p{
    color: var(--Light-grey-400);
    font-family: Mona Sans;
    font-size: var(--Cards-Paragragh-Medium-10);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.basic-price{
    display: flex;
    padding: 10px;
    margin-top: 10px;
}

.basic-price img{
    width: 32px;
    height: 32px;
}

.basic-price h2{
    color: var(--White-500);
    font-size: var(--Cards-Price-SemiBold-48);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Basic button{
    width: 189px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: var(--Button-fill);
    border: var(--Button-Stroke) 1px solid;
    color: var(--White-500);
}

.basic-features{
    display: inline-block;
    justify-content: start;
    padding-top: 30px;
    position: relative;
}

.basic-features hr{
    border: var(--Grey-500) .5px solid;
    width: 95%;
    position: absolute;
    left: 5px;
}

.basic-feature-1{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.basic-feature-1 img{
    width: 17px;
    height: 17px;
}

.basic-feature-1 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.basic-feature-2{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;

}

.basic-feature-2 img{
    width: 17px;
    height: 17px;
}

.basic-feature-2 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.basic-feature-3{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.basic-feature-3 img{
    width: 17px;
    height: 17px;
}

.basic-feature-3 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Premium{
    width: 228px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(50, 49, 61, 0.64);
}

.Premium-headline{
    text-align: start;
    padding: 30px;
}

.Premium h4{
    color: var(--Purble-500);
    font-family: 'Mona Sans', sans-serif;
    font-size: var(--Cards-Headline-Medium-24);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Premium p{
    color: var(--Light-grey-400);
    font-family: Mona Sans;
    font-size: var(--Cards-Paragragh-Medium-10);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.premium-price{
    display: flex;
    padding: 10px;
    justify-content: start;
    position: relative;
    bottom: 15px;
}

.premium-price img{
    width: 32px;
    height: 32px;
}

.premium-price h2{
    color: var(--White-500);
    font-size: var(--Cards-Price-SemiBold-48);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.premium-btn{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 15px;
}

.Premium button{
    width: 189px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: var(--Purble-500);
    color: black;
}

.premium-features{
    display: inline-block;
    justify-content: start;
    position: relative;
    top: 10px;
    left: 10px;
}

.premium-features hr{
    border: var(--Grey-500) .5px solid;
    width: 95%;
    position: absolute;
    left: 5px;
}

.premium-feature-1{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.premium-feature-1 img{
    width: 17px;
    height: 17px;
}

.premium-feature-1 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.premium-feature-2{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;

}

.premium-feature-2 img{
    width: 17px;
    height: 17px;
}

.premium-feature-2 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.premium-feature-3{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.premium-feature-3 img{
    width: 17px;
    height: 17px;
}

.premium-feature-3 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.Enterprise{
    width: 228px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(48, 44, 63, 0.62);
}

.Enterprise-headline{
    text-align: start;
    padding: 20px;
}

.Enterprise h4{
    color: var(--Dark-cyan-600);
    font-family: 'Mona Sans', sans-serif;
    font-size: var(--Cards-Headline-Medium-24);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Enterprise p{
    color: var(--Light-grey-400);
    font-family: Mona Sans;
    font-size: var(--Cards-Paragragh-Medium-10);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}

.btn button{
    width: 189px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: var(--Button-fill);
    border: var(--Button-Stroke) 1px solid;
    color: var(--White-500);
}

.enterprise-features{
    display: inline-block;
    justify-content: start;
    padding-top: 100px;
    padding-left: 20px;
    position: relative;
}

.enterprise-features hr{
    border: var(--Grey-500) .5px solid;
    width: 80%;
    position: absolute;
    left: 30px;
}

.enterprise-feature-1{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.enterprise-feature-1 img{
    width: 17px;
    height: 17px;
}

.enterprise-feature-1 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.enterprise-feature-2{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;

}

.enterprise-feature-2 img{
    width: 17px;
    height: 17px;
}

.enterprise-feature-2 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.enterprise-feature-3{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.enterprise-feature-3 img{
    width: 17px;
    height: 17px;
}

.enterprise-feature-3 h3{
    color: var(--White-500);
    font-size: var(--Cards-Features-SemiBold-12);
    font-family: 'Mona Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}